server:
  port: 8081

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: crowdData-service
          uri: lb://CROWD-DATA-SERVICE
          predicates:
            - Path=/crowddata/**
        - id: reward-service
          uri: lb://REWARD-SERVICE
          predicates:
            - Path=/rewards/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
