server:
  port: 8081

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: crowd-data-service
          uri: lb://crowd-data-service
          predicates:
            - Path=/crowddata/**
        - id: reward-service
          uri: lb://reward-service
          predicates:
            - Path=/rewards/**
      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - http://localhost:3000
              - http://localhost:3001
            allowedMethods:
              - GET
              - POST
              - PUT
              - PATCH
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "*"                          # covers Authorization, Content-Type, etc.
            exposedHeaders:
              - Authorization
              - Location
            allowCredentials: true
            maxAge: 3600

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
